{% extends 'base.html.twig ' %}
{% block title %}BOOKING{% endblock %}

{% block content %}

    <div class="container">

        <h1 style="text-align: center">Billetterie<small> en ligne</small></h1>
        <div class="well" id="booking-stepone">
            <!-- BreadCrumb-->
            <ol class="breadcrumb" style="text-align: center">
                <li class="active"><a href="{{ path('booking_homepage') }}">Constituer votre panier</a></li>
                <li><a href="#">Informations billets</a></li>
                <li><a href="#">Paiement</a></li>
            </ol>
            <!-- Content-->
            <div class="row">
                <div class="col-sm-8">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            <button class="btn btn-action" id="remove-ticket"> retirer un ticket</button>
            <button class="btn btn-action" id="add-ticket"> ajouter un billet</button>
                </div>
                <div class="col-sm-4">
                    <h3>Panier</h3>
                    <div id="cart"></div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ asset('build/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('build/js/bootstrap-datepicker.fr.js') }}" charset="UTF-8"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            // datepicker parameters
            $('.datepicker').datepicker({
                language: 'fr',
                format: 'dd-mm-yyyy',
                orientation: 'top right',
                startDate: 'today',
                todayHighlight: 'true',
                daysOfWeekDisabled: '2'
            });

            // Add a ticket to the cart
            var content = 0;
            $('#cart').html(content);
            $('#add-ticket').click(function (e) {
                e.preventDefault();
                content++;
                $('#cart').html(content);
                $("input[id='booking_ticketQuantity']").val(content);
            });

            // Remove a ticket from the cart
            $('#remove-ticket').click(function (e){
                e.preventDefault();
                content--;
                $('#cart').html(content);
                $("input[id='booking_ticketQuantity']").val(content);
            });

            // if tickets = 0, not submit the form
            $("form").submit(function (event) {
                var $value = $("input[id='booking_ticketQuantity']").val();

                if ($value > 0) {
                    return true;
                }
                $('#cart').text('Votre panier est vide' );
                event.preventDefault();
            })



        });
    </script>

{% endblock %}




